@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800); /*font-family: 'Open Sans', sans-serif;*/
@import url(//fonts.googleapis.com/css?family=Changa+One:400,400italic); /*font-family: 'Changa One', cursive;*/
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,700,900&subset=latin,cyrillic-ext,latin-ext,cyrillic); /*font-family: 'Roboto', sans-serif;*/
@import url('mixins.less');
@import url('slicknav.less');


/* Table of Contents:
   1. General
   2. Header top
   3. Header
   4. Header bottom
   5. Content top
   6. Content
   7. Content bottom
   8. Pages
   9. Sidebar and blocks
   10. Shortcodes
   11. Footer top
   12. Footer
*/



/*==========================================================================
1. GENERAL
===========================================================================*/

body {
	background: darken(@white, 5%);
	color: @textColor;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	min-width: 1250px;
	position: relative;
}

#page-wrapper {
	overflow: hidden;
}


/* Titles
===========================================================================*/

h1 {
	color: @titleTextColor;
	font: 400 50px/50px @titleFontFamily;
	margin-bottom: 34px;
}

h2 {
	color: @titleTextColor;
	font: 400 100px/96px @titleFontFamily;
	margin-bottom: 40px;
}

h3,
#block-tm-follow-user h2/*,
#block-forum-active h2,
#block-forum-new h2*/ {
	color: @altColor;
	text-transform: uppercase;
	letter-spacing: 1px;
	font: 400 36px/36px @titleFontFamily;
	margin-bottom: 20px;
}

.profile h3,
#block-tm-follow-user h2 {
	border-bottom: 1px solid @borderColor;
	overflow: hidden;
	padding-bottom: 5px;
}

h4 {
	color: @titleTextColor;
	font: 400 18px/24px @titleFontFamily;
	margin-bottom: 20px;
}

h5 {
	color: @titleTextColor;
	font: 400 12px/24px @titleFontFamily;
	margin-bottom: 15px;
}

h6 {
	color: @titleTextColor;
	font: bold 18px/24px @baseFontFamily;
	margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	word-wrap: break-word;
	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: @linkHoverColor;
			text-decoration: none;
		}
	}
}


/* Forms
===========================================================================*/

input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
	background: @white;
	border: 1px solid @borderColor;
	.box-sizing(border-box);
	color: @textColor !important;
	font: @baseFontSize @baseFontFamily;
	max-width: 100%;
	padding: 5px 10px 6px;
}

fieldset {
	border-color: @borderColor;
}

label {
	display: inline-block;
}

#search-form .form-item {
	display: block;
}

#user-login,
#contact-site-form,
.search-form {
	.form-text {
		width: 100%;
	}
}

#contact-site-form label {
	vertical-align: middle;
}


/* Links
===========================================================================*/

a {
	.transition(all 0.3s ease);
	color: @linkColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.btn a,
.more-link a,
input[type="submit"],
input[type="reset"],
ul.links li a,
.view-portfolio .views-field-view-node a,
#block-poll-recent ul.links li a,
#filters li a,
.content ul.pager li a,
.content ul.pager li.pager-current,
.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a,
.form-submit {
	letter-spacing: .5;
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	letter-spacing: 1px;
	color: @linkColor;
	display: inline-block;
	font: 700 18px/22px @altFontFamily;
	outline: none;
	padding: 0;
	text-decoration: none;
	text-transform: none;
}
	.btn a:hover,
	.more-link a:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	ul.links li a:hover,
	.view-portfolio .views-field-view-node a:hover,
	#block-poll-recent ul.links li a:hover,
	#filters li a:hover,
	#filters li a.selected,
	.content ul.pager li a:hover,
	.content ul.pager li.pager-current,
	.view .date-nav-wrapper .date-prev a:hover,
	.view .date-nav-wrapper .date-next a:hover,
	.form-submit:hover {
		background: none;
		color: @linkHoverColor;
		text-decoration: none;
	}

input[type="submit"],
input[type="reset"] {
	padding: 7px 20px;
}

.more-link {
	padding-top: 20px;
	text-align: left;
}


/* Lists
===========================================================================*/

ul,
.item-list ul,
ul.menu {
	margin: 0 0 @baseLineHeight;

	li {
		background: url(../images/list-marker.gif) 0 8px no-repeat;
		list-style: none;
		margin: 10px 0 0;
		padding: 0 0 0 16px;

		&:first-child {
			margin-top: 0;
		}

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: @linkHoverColor;
				text-decoration: none;
			}
		}

		ul {
			padding-top: 10px;
		}
	}
}

/* Reset styles for lists */
ul.tabs,
ul.flex-direction-nav,
ul.links,
ul#admin-menu-menu,
ul#admin-menu-account,
ul#admin-menu-icon,
ul.slides,
ul.contextual-links,
ul.tips,
ul.pager,
.messages.error ul,
.rate-widget ul,
ul.submitted-list {
	li {
		background: none;
		border: none;
		font: inherit;
		margin-top: 0;
		padding-left: 0;
	}
}

.messages.error ul li {
	list-style: disc;
}

#admin-menu,
#admin-menu .dropdown {
	z-index: 10000;
}


/* Images
===========================================================================*/

img {
	.box-sizing(border-box);
	height: auto;
	max-width: 100%;
	width: auto;
	
	&.lazyloader-icon {
		width: auto !important;
	}
}

.frame,
.field-type-image,
.views-field-field-image,
.views-field-field-blog-media,
.view-portfolio .isotope-element .views-field-field-portfolio-image,
.field-name-field-blog-media,
.field-name-field-image,
.field-name-field-portfolio-image,
.field-name-field-service-image,
.field-name-field-employee-photo,
.field-name-field-banner-image,
.field-name-field-slide-image {
	margin-bottom: 20px;
	position: relative;
}
.field-name-field-pets-image {
	max-width: 50%;
	float: left;
	margin: 0 30px 10px 0;
}
.field-name-field-banner-image {
	width: 250px;
}

.user-picture {
	background: none;
	float: left;
	margin-right: 15px;
	max-width: 45%;
	padding: 0;

	.profile & {
		float: right;
		margin: 0 0 0 20px;
	}
}


/* Paragraph
===========================================================================*/

p {
	margin-bottom: @baseLineHeight;
}


/* Tables
===========================================================================*/

table {
	margin-bottom: 0;

	tr.odd,
	tr.even {
		border: none;
	}

	tr.odd {
		background: transparent;
	}

	tr.even {
		background: @altBg;
	}

	th {
		background: @altBg;
		border: none;
		color: @linkColor;
		font-size: 14px;
		padding: 5px;

		a {
			color: inherit;
			
			&:hover {
				color: @linkColor;
				text-decoration: none;
			}
		}
	}

	td {
		padding: 5px;
	}
}


/* Classes
===========================================================================*/


.extra-wrap {
	overflow: hidden;
}

.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.clearfix {
	position: relative;

	&:after {
		clear: both;
		content: '\0020';
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		width: 0;
	}
}

.fclear {
	clear: both;
}

.separator {
	clear: both;
	height: 40px;
}

.separator-top {
	border-top: 0;
	clear: both;
	margin-top: 50px;
	padding-top: 0;
}

.separator-bottom {
	border-bottom: 0;
	margin-bottom: 50px;
	padding-bottom: 0;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}


/* Regions
===========================================================================*/

.region-header-top,
.region-header,
.region-header-bottom,
.region-content-top,
.region-content,
.region-parallax-one,
.region-parallax-two,
.region-content-bottom,
.region-footer-top,
.region-footer {
	position: relative;
	z-index: 1;
	
	&:after {
		clear: both;
		content: '';
		display: block;
		overflow: hidden;
		width: 100%;
	}
}

.video-bg {
	background: url(../images/ajax-loader.gif) center center no-repeat;
}

.parallax-box {
	position: relative;
	
	.region {
		position: relative;
		z-index: 9;
	}
}
.parallax-bg {
	bottom: 0;
	height:100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.parallax-bg-inner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: none;
	position: relative;
}

.parallax_one_wrapper {
	.region {
		padding: 63px 0 70px;
	}
}
.parallax_two_wrapper {
	.region {
		padding: 90px 0 100px;
	}
}

::selection,
::-moz-selection {
	background: @linkColor;
	color:@white;
	text-shadow:none;
}

img::selection,
img::-moz-selection {
	background: transparent;
}



/*==========================================================================
2. HEADER TOP
===========================================================================*/

.region-header-top {
	margin-bottom: 30px;
}



/*==========================================================================
3. HEADER
===========================================================================*/

#header {
	position: relative;
	width: 100%;
}
.header-section-wrapper {

}
.header-section-1 {
	padding: 15px 0 24px;
	text-align: center;
}
.header-section-2 {
	background: @mainColor;
}
.stickup {
	.transition(all 0.4s ease);
	z-index: 9999;
}

.isStuck {
	background: fade(@mainColor, 95%);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	top: 0;
}


/* Logo
===========================================================================*/

#logo {
	display: inline-block;
	text-align: left;
}

.img-logo {
	display: block;
	text-align: center;
}

.isStuck-logo {
	display: none;
	vertical-align: middle;
	padding-top: 4px;
	max-width: 245px;
}

.isStuck-logo a {
	padding: 5px;
	background: @white;
}

.isStuck .isStuck-logo {
	display: inline-block;
}
.isStuck .region-menu {
	float: right;
}

.site-name {
	h2;
	letter-spacing: -1px;
	margin-bottom: 0;
	margin-bottom: 7px;
	a:hover {
		color: inherit;
		text-decoration: none;
	}
}

.slogan {
	margin-top: 15px;
	color: @gray;
}


/* Menu
===========================================================================*/

.select-menu {
	display: none !important;
}

#superfish-1 {
	text-align: center;
	font-size: 0;
	background: none;
	margin-bottom: 0;
	padding: 0;
	width: auto;
	z-index: 101;
	.clearfix;

	> li {
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: left;
		border: 0;
		float: none;
		background: none;
		overflow: inherit;
		position: relative;
		font: 400 16px/20px @titleFontFamily;
		&:first-child {
			margin-left: 0;
			&:before {
				display: none;
			}
		}

		> a {
			padding: 15px;
			color: @white;
			background: @mainColor;
			text-decoration: none;

			.sf-sub-indicator {
				background: none;
				display: none;
				font: inherit;
				height: auto;
				margin-left: 5px;
				overflow: visible;
				position: static;
				text-indent: 0;
				width: auto;
			}
		}

		> a:hover,
		&.active-trail > a,
		&.sfHover > a {
			color: @mainColor;
			background: @white;
			text-decoration: none;

			.sf-sub-indicator {}
		}

		ul {
			background: @linkColor;
			display: none;
			padding: 15px 0 11px;
			top: 50px;
			width: 120px !important;

			li {
				background: none;
				border-bottom: 0;
				float: none !important;
				font-size: 12px;
				height: auto;
				padding: 0 15px;
				width: auto !important;

				> a:visited,
				> a {
					color: @white;
					text-decoration: none;

					.sf-sub-indicator {
						background: none;
						display: inline-block;
						font: inherit;
						height: auto;
						margin-left: 5px;
						overflow: visible;
						position: static;
						text-indent: 0;
						width: auto;
					}
				}

				> a:hover,
				&.active-trail > a,
				&.sfHover > a {
					color: @linkHoverColor;
					text-decoration: none;
				}

				ul {
					left: 101% !important;
					top: -15px;
				}
			}
		}
	}
	
	.sf-megamenu {
		width: auto !important;

		> li > ol {
			vertical-align: top;
			white-space: nowrap;
			
			> li {
				display: inline-block;
				margin: 0 0 0 15px;
				padding: 0;
				vertical-align: top;
				width: 120px !important;
				white-space: normal;
				
				&:first-child {
					margin-left: 0;
				}
				
				a {
					color: @white;
					text-decoration: none;
				}
				
				a:hover,
				a.active,
				&.active-trail > a,
				&.sfHover > a {
					color: @linkHoverColor;
					text-decoration: none;
				}
				
				ol {
					padding: 10px 0 0;

					li {
						display: block;
						float: none !important;
						margin-left: 0;
						padding: 0;
					}
				}
			}
		}
	}
}

.slicknav_menu {
  display: none;
  padding: 0;
  background: transparent none;
  .slicknav_btn {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    float: none;
    .slicknav_menutxt {
      display: none;
    }
    .slicknav_icon {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      float: none;
    }
  }
  ul {
    padding-bottom: 20px;
    li {
      margin: 0;
      list-style: none;
      padding: 0;
      background: transparent none;
      &.active-trail {
        background: darken(@mainColor, 5%);
        a {
          &:after {
            background-image: url('../images/nav_selected.png');
          }
        }
        &.active-trail.slicknav_collapsed {
          .slicknav_item {
            &:after {
              background-image: url('../images/nav_dropup_selected.png');
            }
          }
        }
        &.active-trail.slicknav_open {
          .slicknav_item {
            &:after {
              background-image: url('../images/nav_dropdown_selected.png');
            }
          }
          & .slicknav_collapsed .slicknav_item {
            &:after {
              background-image: url('../images/nav_dropup.png');
            }
          }
          & .slicknav_open .slicknav_item {
            &:after {
              background-image: url('../images/nav_dropdown.png');
            }
          }
        }
        li a {
          &:after {
            background-image: url('../images/nav_unselected.png');
          }
        }
      }
      &.slicknav_collapsed {
        .slicknav_item {
          &:after {
            background-image: url('../images/nav_dropup.png');
          }
        }
      }
      &.slicknav_open {
        .slicknav_item {
          &:after {
            background-image: url('../images/nav_dropdown.png');
          }
        }
        & .slicknav_collapsed .slicknav_item {
          &:after {
            background-image: url('../images/nav_dropup.png');
          }
        }
      }
      ul {
        margin-left: 0;
        padding-left: 20px;
        padding-bottom: 0;
        color: @white;
        background: lighten(@mainColor, 5%);
        li {
          &.active-trail {
            background-color: transparent;
            color: inherit;
          }
        }
      }
      a, .slicknav_item {
        position: relative;
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
        color: inherit;
        background: no-repeat 12px 11px url('../images/nav_arrow.png');
        background-size: 8px 8px;
        .transition(none);

        .slicknav_arrow {
          display: none;
        }
        &:hover {
          color: inherit;
          background: no-repeat 12px 11px url('../images/nav_arrow.png');
          background-size: 8px 8px;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 11px;
          top: 11px;
          background: no-repeat 0 0 url('../images/nav_unselected.png');
          background-size: 100%;
          width: 8px;
          height: 8px;
        }
        a {
          padding-left: 0;
          background: transparent none;
          &:after {
            display: none;
          }
        }
      }
      .sf-sub-indicator {
        display: none; /* Superfish disable */
      }
    }
  }
}

.isStuck {
  #superfish-1 > li > a {
    background: transparent none;
  }
}
.isStuck #superfish-1 > li > a:hover,
.isStuck #superfish-1 > li.active-trail > a,
.isStuck #superfish-1 > li.sfHover > a {
  background: @white;
}

/* Slider
===========================================================================*/

.flex-viewport {
	.transition(none);
}

.flexslider {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	
	img {
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none;
	}
}

.view-slider {
	.slides li {
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none;
		padding: 0;

		img {
			width: 100%;
		}
	}

	.flex-control-nav {
		bottom: 20px;
		font-size: 0;
		line-height: 0;
		z-index: 20;

		li {
			margin: 0 4px;
			
			a {
				box-shadow: none;
			}
		}
	}

	.flex-control-thumbs li {
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none;
		width: 20%;
	}

	.flex-direction-nav {
		a {
			&.flex-prev {}
			&.flex-next {}
			&:hover {}
			
			&:before {
				line-height: 40px;
			}
		}
	}

	&:hover .flex-next {
		opacity: 1;
		right: 0;
	}

	&:hover .flex-prev {
		opacity: 1;
		left: 0;
	}

	.flex-caption {
		text-align: center;
		z-index: 99;

		.container-12 {
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
		}

		.inner {
			background: rgba(255, 255, 255, .4);
			padding: 25px 50px;
		}
	}
}

.view-articles {
	.flexslider {
		padding-bottom: 64px;
		ul.slides {
			li {
				display: none;
				margin-right: 30px;
			}
		}
		.flex-direction-nav {
			a {
				width: 13px;
				height: 25px;
				overflow: hidden;
				top: auto;
				margin: 0;
				bottom: 0;
				display: block;
				opacity: 1;
				.transition(all 0s ease);
				&.flex-prev {
					left: auto;
					right: 22px;
					background: url(../images/car-prev.png) left bottom no-repeat;
				}
				&.flex-next {
					right: 0;
					background: url(../images/car-next.png) left bottom no-repeat;
				}
				&:hover {
					background-position: left top;
				}
				
				&:before {
					display: none;
				}
			}
		}
	}
}
.view-articles {
	ul.slides {
		>li {
			&:hover {
				.post-date {
					color: @white;
				}
			}
		}
	}
	.post-date {
		.transition(all 0.3s ease);
		h3;
		color: #737373;
		margin-bottom: 9px;
	}
	h6.views-field-title {
		margin-bottom: 29px;
		a {
			color: #737373;
			&:hover {
				color: @white;
			}
		}
	}
	.views-field-field-image {
		margin-bottom: 26px;
	}
}

/*==========================================================================
4. HEADER BOTTOM
===========================================================================*/

.header_bottom_wrapper {
	.region {
		padding: 30px 0;
	}
}



/*==========================================================================
5. CONTENT TOP
===========================================================================*/

.content_top_wrapper {
	.region {
		padding: 30px 0;
	}
}



/*==========================================================================
6. CONTENT
===========================================================================*/

#main {
	padding: 30px 0;
}

.page-title {
  margin-bottom: 0;
  padding: 15px 15px 18px 15px;
  text-align: center;
  font-size: 22px;
  line-height: 25px;
  border-top: 2px solid lighten(@mainColor, 5%);
  background: @white;
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}

.content-main {
  background: darken(@white, 2.5%);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}
.content-main-wrapper {
  padding: 20px;
}

.region-content {
	padding: 0;
}

.views-row {
	margin-bottom: 30px;

	&.last,
	&:last-child {
		margin-bottom: 0;
	}
}

.panels-flexible-region-inside,
.panels-flexible-column-inside {
	padding-left: 0 !important;
	padding-right: 0 !important;
	.clearfix;
}



/* System messages
===========================================================================*/

div.messages {
	margin-bottom: 30px;
	padding-right: 30px;

	.dismiss {
		box-shadow: none;
		border-radius: 2px;
		font-family: @baseFontFamily;
		line-height: normal;
		padding: 2px 6px 4px;
		text-transform: lowercase;
		width: auto;

		&:hover {
			color: @white;
			text-shadow: none;
		}
	}
}


/* Breadcrumbs
===========================================================================*/

#breadcrumb {
	color: @textColor;
	margin-bottom: 30px;
	padding: 0;

	a {
		color: inherit;
		padding: 0 3px;
		text-decoration: none;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&:hover {
			color: @linkColor;
		}
	}
}


/* Admin tabs
===========================================================================*/

.tabs-wrapper {
	margin: 1px 0 20px;
}

.tabs {
	overflow: hidden;
}

.tabs ul.primary {
	border: 0;
	border-bottom: 1px solid @borderColor;
	margin: 0 0 20px;
	overflow: hidden;
	padding: 4px 0 0;

	li {
		display: block;
		float: left;
		margin-left: 2px;
		
		&:first-child {
			margin-left: 0;
		}

		a {
			background: @white;
			border: 1px solid @borderColor;
			border-bottom: 0;
			border-radius: 3px 3px 0 0;
			color: @textColor;
			display: block;
			font-size: 12px;
			font-weight: normal;
			margin: 0;
			overflow: hidden;
			padding: 5px 15px;
			text-shadow: none;
			.transition(all 0.1s linear);
		}

		&.active a,
		a:hover {
			background: @linkColor;
			border-color: darken(@linkColor, 3%);
			color: @white;
			text-decoration: none;
		}
	}
}

/* Tiled gallery
===========================================================================*/


.portfolio-filters {
	margin-bottom: 40px;
}

.tm-masonry-filter {
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		background: none;
		display: inline-block;
		padding: 0;
		
		&:before {
			background-color: @linkColor;
			bottom: 3px;
			content: "";
			display: inline-block;
			height: 5px;
			margin: 0 10px;
			position: relative;
			width: 5px;
		}
		
		&:first-child:before {
			display: none;
		}
	
		a {
			color: @textColor;
			text-decoration: none;

			&.active,
			&:hover {
				color: @linkColor;
			}
		}
	}
}

.tm-masonry-item {
	position: relative;

	.field-type-image {
		float: none !important;
		max-width: 100% !important;
		text-align: center;
		width: 100% !important;
	}
	
	.node-header {
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: -100%;
		z-index: 999;
		.transition(0.6s ease);
	}
	
	.node-title {
		font-weight: 400;
		margin: 0;
		position: relative;
	}
	
	a.colorbox {
		background: @white;
		text-align: center;

		&:after {
			background: none;
			color: #000;
			content: "\f00e";
			font: 30px/30px FontAwesome;
			left: 51%;
			margin: -15px 0 0 0;
			position: absolute;
			top: -100%;
			z-index: 999;
			.transition(0.6s ease);
		}
		
		&:hover {
			img {
				.opacity(50);
			}
		}
	}
	
	.node-footer {
		margin: -15px 0 0 0;
		padding: 0;
		position: absolute;
		right: 51%;
		top: -100%;
		z-index: 999;
		.transition(0.6s ease);

		.node-readmore a {
			background: none;
			color: transparent;
			font-size: 0;
			line-height: 0;
			padding: 0;

			&:after {
				color: #000;
				content: "\f0c1";
				font: 30px/30px FontAwesome;
			}
		}
	}
	
	&:hover {
		.node-footer,
		a.colorbox:after {
			top: 40%;
		}
		
		.node-header {
			top: 60%;
		}
	}
}


/* Blocks
===========================================================================*/
.view-events {
	.views-row {
		margin-bottom: 30px !important;
	}
}
.block-views-solution-block {
	h2.block-title {
		float: left;
		width: 60%;
		box-sizing: border-box;
		padding-right: 70px;
	}
	.block-content {
		padding: 25px 0 0;
		float: left;
		width: 40%;
	}
	.views-row {
		padding-bottom: 35px;
		border-bottom: 1px solid #3f3f3f;
		margin-bottom: 35px;
		p {
			margin-bottom: 0;
		}
		a {
			color: #737373;
		}
	}
}
.block-block-9 {
	padding: 70px 600px 0 0;
	background: url(../images/page2_img1.jpg) right top no-repeat;
	min-height: 675px;
	box-sizing: border-box;
	blockquote {
		padding: 0 0 0 40px;
		background: url(../images/quote.png) 0 0 no-repeat;
		color: @titleTextColor;
		font-style: italic;
	}
}
.block-block-8 {
	padding: 0 620px 0 0;
	address {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 24px;
		color: #2f2f2f;
		font-style: normal;
		font-weight: 700;
		font-family: @altFontFamily;
		letter-spacing: 1px;
		span {
			text-transform: none;
			display: block;
			&.title {
				color: @linkHoverColor;
				font: 400 72px/71px @titleFontFamily;
				margin-bottom: 32px;
			}
			&.tel {
				font: 400 72px/71px @titleFontFamily;
				margin-bottom: 11px;
				strong {
					font-weight: 400;
					color: @linkHoverColor;
				}
			}
			&.label {
				font: 400 36px/32px @titleFontFamily;
				text-transform: uppercase;
				margin-bottom: 5px;
			}
		}
	}
}
.block-views-services-block {
	h2 {
		padding: 13px 620px 60px 0;
		margin-bottom: 5px;
		background: url(../images/page1_bg1.jpg) right top no-repeat;
	}
}
.view-services {
	.views-row {
		padding: 67px 0 0;
		position: relative;
		.transition(all 0.3s ease);
		.views-field-field-service-image {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		.views-field-title {
			.transition(all 0.3s ease);
			position: relative;
			z-index: 2;
			margin-bottom: 30px;
			padding: 0 50px 0 0;
		}
		.views-field-body {
			position: relative;
			z-index: 2;
		}
		p {
			margin-bottom: 24px;
		}
		.btn {
			position: relative;
			z-index: 2;
		}
		&:hover {
			color: @titleTextColor;
			.views-field-title {
				color: @titleTextColor;
			}

		}
	}
}
.view-pets {
	.view-content {
		.clearfix;
		.views-row {
			float: left;
			width: 33.333%;
			margin: 0;
			position: relative;
			overflow: hidden;
			figure {
				position: relative;
				img {
					.transition(all 0.3s ease);
				}
				figcaption {
					.transition(all 0.3s ease);
					letter-spacing: 5px;
					box-sizing: border-box;
					text-align: center;
					text-transform: uppercase;
					position: absolute;
					left: 50%;
					top: 50%;
					font-family: @titleFontFamily;
					font-size: 100px;
					line-height: 100px;
					transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					opacity: 1;
					a {
						color: @white;
						&:hover {
							color: @white;
							text-decoration: none;
						}
					}
				}
				&:hover {
					figcaption {
						opacity: 0;
					}
					img {
						-webkit-transform: scale(1.4);
						transform: scale(1.4);
					}
				}
			}
		}
	}
}


/*==========================================================================
7. CONTENT BOTTOM
===========================================================================*/

.content_bottom_wrapper {
	background: @titleTextColor;
	.region {
		padding: 97px 0 45px;
	}
	color: #737373;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: @white;
		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: @linkHoverColor;
				text-decoration: none;
			}
		}
	}
}



/*==========================================================================
8. PAGES
===========================================================================*/

/* Portfolio
===========================================================================*/

#isotope-container {
	margin-left: -15px;
	margin-right: -15px;
}

.isotope-element {
	background: none;
	.box-sizing(border-box);
	color: inherit;
	margin: 0 15px 30px;
	height: auto;
	overflow: visible;
	padding: 0;
	position: relative;
	width: auto;

	.views-field-field-portfolio-image {
		background: url(../images/ajax-loader.gif) center center no-repeat @white;
		margin-bottom: 25px;
	}

	.views-field-body {
		margin-bottom: 25px;
	}
}

.isotope-element .views-field-field-portfolio-image {
	a {
		background: @black;
		display: block;
		overflow: hidden;
		position: relative;
		text-decoration: none;

		&:after {
			background: none;
			color: @white;
			content: "\f00e";
			font: 40px/40px FontAwesome;
			left: 50%;
			margin: -20px 0 0 -20px;
			position: absolute;
			top: -100%;
			z-index: 999;
		}

		&:hover {
			img {
				opacity: .4;
				-ms-transform: scale(1.3);
				-webkit-transform: scale(1.3);
				transform: scale(1.3);
			}
			&:after {
				top: 50%;
			}
		}
	}

	img {
		.transition(.2s ease);
		width: 100%;
	}
}

#isotope-options {
	background: none;

	#filters {
		margin-bottom: 20px;
		text-align: right;

		li {
			display: inline-block;
			margin-left: 10px;
			margin-bottom: 10px;
			padding: 0;
			background: none;
		}
	}
}

/* Categories */
.field-name-field-portfolio-category {
	ul {
		float: left;
		overflow: hidden;
		
		&:before {
			content: "\f02e";
			display: block;
			float: left;
			font-family: fontAwesome;
			margin-right: 4px;
		}
	}
}


/* Blog
===========================================================================*/

.page-blog .content-header ul {
	margin-bottom: 0;
	
	li {
		background: none;
		padding: 0;
	}
}

.node {
	.separator-top;

	&:first-child {
		background: none;
		border-top: 0;
		margin-top: 0;
		padding-top: 0;
	}
}

/* Author & date information */
.node-header {
	margin-bottom: 20px;
}
	
	.node-title {
	}
	
	.node-submitted {
		margin: 0;
		
		.fa {
			color: @linkColor;
			margin-right: 5px;
		}
	
		ul {
			margin: 0;
			
			li {
				background: none;
				float: left;
				margin: 0 0 0 10px;
				padding: 0;

				&:first-child {
					margin-left: 0;
				}

				a {
					color: inherit;

					&:hover {
						color: @linkColor;
						text-decoration: none;
					}
				}
			}
		}
	}

/* Blog image */
.node-teaser .field-type-file,
.node-teaser .field-type-image,
.node-employee .field-type-image {
	margin: 0 0 20px;
}

/* Blog video */
.media-vimeo-video {
	padding-bottom: 50.2%;
	
	.node-teaser &{
		padding-bottom: 63.2%;
	}
}
.media-youtube-video {
	padding-bottom: 50.2%;
	
	.node-teaser &{
		padding-bottom: 63.2%;
	}
}
.media-vimeo-video,
.media-youtube-video {
	height: 0;
	overflow: hidden;
	padding-top: 30px;
	position: relative;
	
	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.node-teaser  p:last-child {
	margin-bottom: 0;
}

/*Blog links */
.links {
	list-style: none;

	li {
		display: inline-block !important;
		margin-bottom: 5px;
		margin-right: 5px;
	}
}

/* Pagination */
.content ul.pager {
	margin-top: 30px;
	text-align: left;

	li {
		margin: 0px 1px 5px;
		padding: 0;
		display: inline-block;
	}
}


/* Node Tags */
.node-footer {
	padding-top: 30px;

	.field-name-field-tags {
		padding-top: 20px;

		.field-label {
			background: none;
			float: left;
			font: inherit;
			font-weight: bold;
			margin-right: 15px;
			padding: 0;
			text-shadow: none;
			text-transform: none;
		}

		.field-items {
			overflow: hidden;
			padding-bottom: 15px;
			width: 100%;
		}

		ul li {
			float: left;
			margin: 0 0 5px 10px;

			&:first-child {
				margin-left: 0;
			}

			a {
				font: inherit;
				font-weight: bold;
				padding: 2px 8px;
			}
		}
	}
}

/* Tags */
.field-name-field-blog-tags {
	ul {
		float: left;
		overflow: hidden;
		
		&:before {
			content: "\f02c";
			display: block;
			float: left;
			font-family: fontAwesome;
			margin-right: 4px;
		}
	}
}

/* Add this */
.addthis_button_compact {
	margin: 0;
}

/* Likes */
.likebtn_container {
	padding-top: 4px;
}

/* Comments */
#comments {
	.separator-top;

	.comments-title {}

	.indented {
		margin-left: 20px;
	}
}

.comment {
	background: transparent;
	border: 1px solid @borderColor;
	margin-bottom: 10px;
	padding: 25px;
	
	.comment-title {}
	
	.comment-submitted {
		margin: 0 0 5px;
	}
	
	.comment-content {
		margin-bottom: 20px;
	}

	.comment-footer {
		padding: 0;
	}
}


/* Comment form*/
#comment-form-wrapper {
	.separator-top;
	
	.comments-title {}
}

#comment-form {
	/* form elements */
	.form-item {
		margin: 0 0 15px;
		overflow: hidden;
		width: 100%;
	}
	
	label {
		vertical-align: middle;
	}
	
	.form-type-item label {
		float: left;
		padding-right: 10px;
	}
	
	.form-text {
		width: 100%;
	}

	.form-textarea {
		height: 200px;
		width: 100%;
	}

	/* filter*/
	.filter-wrapper {
		border: none;
		padding: 0;

		.fieldset-wrapper {
			> * {
				padding: 0;
			}
		}

		.filter-help {
			padding-top: 15px;

			a {
				background: none;
				display: inline-block;
				padding: 0;
			}
		}
		
		.form-item {
			width: auto;
		}

		label {
			display: inline-block;
			margin-right: 15px;
		}
	}
	
	/* buttons */
	.form-actions {
		margin: 0;
		padding-top: 20px;
		
		#edit-submit {
			margin-right: 5px;
		}
	}
}

/* Comment edit*/
#edit-comment-body-und-0-format-guidelines {
	clear: both;

	ul {
		font: inherit;

		li {
			background: none;
			overflow: hidden;
			margin: 0;
			padding: 0;
			width: 100%;
		}
	}
}



/* Contacts
===========================================================================*/

.panels-flexible-region-11-contacts,
.panels-flexible-region-11-center {
	float: none;
	width: 100% !important;
}

.contact-form {
	.form-item {
		margin-top: 0 !important;
		position: relative;
	}

	input[type="text"],
	textarea {
		position: relative;
		z-index: 20;
		
		&.error {
			border-color: #f8b9b7 !important;
			border-width: 1px;
			box-shadow: 0 0 8px #f8b9b7 !important;
		}
	}
	
	textarea {
		min-height: 145px;
	}

	.form-type-textfield {
		float: left;
		margin-bottom: 30px !important;
		margin-left: 5%;
		width: 30%;
		
		&:first-child {
			margin-left: 0;
		}
	}
	
	.form-type-textarea {
		clear: both;
	}
	
	div.error-message {
		background: #ec7b7b;
		bottom: 100%;
		.box-sizing(border-box);
		color: @white;
		cursor: pointer;
		display: block;
		font-size: 13px;
		font-weight: normal;
		left: 0;
		line-height: 16px;
		margin: 0 0 5px;
		max-width: 100%;
		.opacity(0);
		padding: 3px 5px;
		position: absolute;
		.transition(.4s ease);
		z-index: -999;
		
		&:after {
			content: '';
			position: absolute;
			left: 10px;
			bottom: -5px;
			border-top: 5px solid #ec7b7b;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
	}

	.error ~ div.error-message {
		//bottom: 100%;
		.opacity(100);
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
		z-index: 999;
	}
	
	input[type="reset"] {
		margin-right: 10px;
	}

	.form-actions {
		display: inline-block;
	}
}

#contact-personal-form {
	.form-type-textfield {
		float: none;
		margin-bottom: 30px !important;
		margin-left: 0;
		width: 100%;
		
		input[type="text"] {
			display: block;
		}
	}
}


/* Forum
===========================================================================*/

.action-links {
	overflow: hidden;
	padding: 0 0 25px;

	li {
		float: left;
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}

		a {
			font-weight: bold;
		}
	}
}

#forum table {
	td.topics,
	td.posts,
	td.replies {
		text-align: center;
	}

	td.container {
		font-weight: bold;
	}

	.description {
		margin: 0;
	}

	.indent {
		margin: 0;
	}
	.name {
		overflow: hidden;
	}
	.description {
		clear: both;
	}
}

.field-name-taxonomy-forums,
.field-type-taxonomy-term-reference {
	overflow: hidden;
	padding-top: 20px;
	width: 100%;

	&.field-label-above {
		padding-top: 0;
	}

	.field-label {
		background: none;
		font: inherit;
		font-weight: bold;
		margin: 0;
		text-shadow: none;
		text-transform: uppercase;
	}

	ul.links {
		margin-bottom: 0;

		li {
			float: left;
			margin: 0 0 5px;
			
			&:before {
				content: ', ';
			}
	
			&:first-child {
				margin-left: 0;
				
				&:before {
					content: '';
				}
			}
	
			a {
				background: none;
				border: none;
				box-shadow: none;
				color: @linkColor;
				display: inline;
				font: inherit;
				padding: 0;
				text-shadow: none;
				text-transform: none;
	
				&:hover {
					background: none;
					text-decoration: underline;
				}
			}
		}
	}
}

.page-forum- #main-wrapper .active img {
	padding: 0;
	background: 0;
	border: none;
	margin-left: 5px;
	margin-top: 4px;
}


/* 404 Page not found
===========================================================================*/

.page-page-404 {
	.panel-col-first {
		color: @linkColor;
		font: bold 250px/200px @baseFontFamily;
		text-align: center;
	}
}

.panel-2col {
	.panel-col-first .inside {
		margin: 0 20px 0 0;
	}

	.panel-2col .panel-col-last .inside {
		margin: 0 0 0 20px;
	}
}


/* Testimonials
===========================================================================*/

.page-testimonials {
	.view-display-id-page {
		.views-row {
			margin-top: 20px;

			&:first-child {
				margin-top: 0;
			}
		}

		.views-field-field-testi-image {
			float: left;
			margin: 0 20px 0 0;
			max-width: 45%;
			width: 80px;
		}

		.views-field-nothing {
			margin-bottom: 10px;

			p {
				margin-bottom: 0;
			}

			a {
				color: inherit;
				
				&:hover {
					color: @linkColor;
					text-decoration: none;
				}
			}
		}
		
		.views-field-field-testi-author,
		.views-field-field-testi-author-info {
			text-align: right;
		}
	}
}

.field-name-field-testi-image {
	float: left;
	margin: 0 20px 0 0;
	max-width: 45%;
}

.field-name-field-testi-author {
	font-weight: bold;
}


/* Archive
===========================================================================*/

.view-archive {
	.field-name-body {
		margin-bottom: 20px;
	}

	.views-row {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	.field-name-taxonomy-forums {
		padding-top: 0;
	}
}


/* FAQs
===========================================================================*/

.view-FAQs.view-id-FAQs {
	.views-row {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Compose tips
===========================================================================*/

.compose-tips {
	.filter-type {
		margin-top: 40px;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Comments page
===========================================================================*/

.view-comments-recent.view-display-id-page {
	.views-row {
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Employee
===========================================================================*/

.field-name-field-employee-position {
	color: @linkColor;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 5px;
}

.field-name-field-employee-facebook {
	margin-left: 0;
}

.field-name-field-employee-facebook,
.field-name-field-employee-twitter,
.field-name-field-employee-google-plus {
	display: inline-block;
	margin-right: 5px;
}

.employee-social-link {
	border: 1px solid @linkColor;
	border-radius: 50%;
	color: transparent;
	display: block;
	font-size: 0;
	height: 28px;
	line-height: 0;
	text-align: center;
	text-decoration: none;
	width: 28px;
	
	&:before {
		color: @linkColor;
		font-size: 16px;
		line-height: 28px;
	}
	
	&:hover {
		border-color: @textColor;
		
		&:before {
			color: @textColor;
		}
	}
}

.node-type-employee .field-name-body {
	padding-top: 20px;
}



/*==========================================================================
9. SIDEBARS and BLOCKS
===========================================================================*/

aside.sidebar {
	position: relative;
	h2 {
		font-size: 60px;
		line-height: 55px;
	}
	.block {
		.separator-top;

		&:first-child {
			border-top: 0 !important;
			margin-top: 0 !important;
			padding-top: 0 !important;
		}
	}
}

.field-label-inline .field-label,
.field-label-inline .field-items {
	max-width: 100%;
}

/* Contextual links
===========================================================================*/

.not-logged-in .contextual-links {
	display: none !important;
}

.contextual-links li {
	color: @textColor !important;
	font-size: @baseFontSize !important;
	line-height: @baseLineHeight !important;
}


/* Calendar
===========================================================================*/

.calendar-calendar {
	table,
	table td,
	table th,
	.month-view .full th.days {
		border:1px solid @borderColor;
	}

	td.calendar-agenda-items,
	.month-view .full td.single-day .calendar-empty,
	.month-view .full td.single-day.empty,
	.month-view .full td.date-box.empty {
		border-color: @borderColor;
	}

	tr,
	tr.odd,
	tr.even {
		td.today {
			background-color: transparent;
			color: @linkColor;
			font-weight: bold;
		}
	}

	th.days {
		background: @altBg;
		border: none;
		color: @textColor;
	}

	td {
		text-align: center;
	}

	td .inner div,
	td .inner div a {
		background: none;
	}

	.month-view .full td.multi-day div.monthview,
	.week-view .full td.multi-day div.weekview,
	.day-view .full td.multi-day div.dayview {
		background: @altBg;
	}

	.day-view .full td .inner div.calendar {
		.views-field-created {
			color: @textColor;
			float: left;
			width: 50px;
		}

		.views-field-title {
			overflow: hidden;
		}
	}

	.month-view .full tr td.single-day.today,
	.month-view .full td.date-box.today {
		border-color: @linkColor;
	}
}

.view-Calendar .pager .date-prev,
.view-Calendar .pager .date-next,
.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
	background: none;
	border-radius: 0;
	line-height: 0;
	padding: 0;
	top: 6px;

	a {
		background: @textColor;
		color: transparent;
		display: block;
		font-size: 0;
		height: 22px;
		line-height: 0;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;
		.transition(all 0.6s ease);
		width: 22px;

		&:before {
			color: @white;
			font-family: FontAwesome;
			font-size: 12px;
			font-weight: normal;
			left: 50%;
			line-height: 22px;
			margin-left: -5px;
			margin-top: -11px;
			position: absolute;
			top: 50%;
		}

		&:hover {
			background: @linkColor;
		}
	}
}

.view .date-nav-wrapper .date-prev {
	right: auto;
}

.view .date-nav-wrapper .date-prev a:before {
	content: "\f060";
}

.view .date-nav-wrapper .date-next a:before {
	content: "\f061";
}

table .mini-day-on a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


/* Isotop filter
===========================================================================*/

.sidebar #isotope-options #filters {
	text-align: left;

	li {
		margin: 0 10px 5px 0;
	}
}


/* Map
===========================================================================*/

.pannel-map {
	margin-bottom: 30px !important;
}

.gmap #gmap1 {
	height: 480px;
}

.gmap #gmap1 img {
	max-width: inherit;
}


/* Our team
===========================================================================*/

#block-views-our-team-block {
	.views-row {
		margin-bottom: 0;
		margin-top: 20px;
		overflow: hidden;

		&.views-row.views-row-first {
			margin-top: 0;
		}

		.views-field-field-employee-photo {
			width: 100px;
			float: left;
			margin-right: 15px;
		}

		.views-field-body {
			margin-bottom: 0;
		}
	}
}


/* Poll's bar
===========================================================================*/

.poll {
	.total,
	.title {
		margin-bottom: 15px;
	}

	.bar {
		background-color: @white;
		border: 1px solid @borderColor;
		height: 20px;
		margin-bottom: 15px;
		padding: 1px;

		.foreground {
			background-color: @linkColor;
			display: none;
			height: 20px;
		}
	}

	.percent {
		float: right;
	}

	.vote-form {
		text-align: left;
		padding-bottom: 15px;

		.choices {
			width: 100%;
		}
	}
}

#block-poll-recent ul.links li {
	background: none;
	padding-left: 0;
}


/* Recent comments
===========================================================================*/

#block-views-comments-recent-block {
	.views-row {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	.views-field-subject a {
		color: inherit;
		
		&:hover {
			color: @linkColor;
			text-decoration: none;
		}
	}
}


/* Recent content
===========================================================================*/

.contextual-links-region .node-title a {
	color: inherit;
	
	&:hover {
		color: @linkHoverColor;
		text-decoration: none;
	}
}


/* Recent posts
===========================================================================*/

#block-views-recent-posts-block {
	.views-row {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	.views-field-body {
		clear: both;
		padding-top: 10px;
	}
}


/* Search
===========================================================================*/

#search-block-form,
[id^="search-block-form"] {
	.element-invisible {
		display: none !important;
	}

	.container-inline {
		border: 1px solid @borderColor;
		.box-sizing(border-box);
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	
	.form-item-search-block-form {
		display: block;
		margin: 0 30px 0 0;
	}
	
	input.form-text {
		background: none;
		border: none;
		display: block;
		margin: 0;
		width: 100%;
	}
	
	[id^=edit-actions] {
		z-index: 1;

		&:after {
			color: @textColor;
			content: "\f002";
			cursor: pointer;
			font: 20px/30px FontAwesome;
			margin-top: -16px;
			position: absolute;
			right: 0;
			text-align: center;
			top: 50%;
			width: 30px;
			z-index: 1;
		}
		
		&:hover:after {
			color: @linkColor;
		}
	}
	
	.form-submit {
		background: none;
		border: none;
		border-radius: 0;
		bottom: 0;
		box-shadow: none;
		color: transparent;
		cursor: pointer;
		display: block;
		font-size: 0;
		line-height: 0;
		margin: 0 !important;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		z-index: 2;
	}
}


/* Sibscribe
===========================================================================*/

.block-simple-subscription-subscribe input[type="text"] {
	width: 100%;
}



/*==========================================================================
10. SHORTCODES
===========================================================================*/

.progressbar {
	.progressbar-wrap {
		background: @borderColor;
	}
	.progressbar-background {
		background: @linkColor;
	}
}


/*==========================================================================
11. FOOTER TOP
===========================================================================*/

.footer_top_wrapper {
	.region {
		padding: 30px 0;
	}
}



/*==========================================================================
12. FOOTER
===========================================================================*/

#footer {
  clear: both;
  padding: 0;
  position: relative;
  background: #fcfcfc;
}
.footer-wrapper {
	.not-front & {
		border-top: 1px solid @borderColor;
	}
}
.region-footer {
	padding: 110px 0 90px;
	.block {
		margin-bottom: 25px;
	}
}

/* Footer menu
===========================================================================*/

.footer-menu .content ul {
	margin: 0;
	overflow: hidden;
	
	li {
		background: none;
		float: left;
		margin: 0 0 0 10px;
		padding: 0;
		
		&:first-child {
			margin-left: 0;
		}
		
		a {
			color: inherit;
			text-decoration: none;
			
			&:hover,
			&.active {
				color: @linkColor;
				text-decoration: none;
			}
		}
	}
}


/* Copyright
===========================================================================*/

.block-copyright {
	font-family: @altFontFamily;
	text-transform: uppercase;
	.sitename {
		display: block;
	}
	a {
		color: inherit;
		
		&:hover {
			color: @linkColor;
			text-decoration: none;
		}
	}
}


/* Back to top
===========================================================================*/

#backtotop {
	.transition(all 0.4s ease);
	background: none;
	border-radius: 50%;
	bottom: 100px;
	box-shadow: 0 0 0 4px @linkColor;
	color: transparent;
	font-size: 0;
	line-height: 0;
	margin-right: 0 !important;
	opacity: 1 !important;
	padding: 3px 0 7px;
	position: fixed;
	right: 40px !important;
	text-align: center;
	text-decoration: none;
	width: 70px;
	z-index: 999;

	&:before {
		.box-sizing(content-box);
		background: @linkColor;
		border-radius: 50%;
		content: '';
		height: 100%;
		left: -2px;
		opacity: 1;
		padding: 2px;
		pointer-events: none;
		position: absolute;
		top: -2px;
		transition: transform 0.2s, opacity 0.3s;
		-moz-transition: -moz-transform 0.2s, opacity 0.3s;
		-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
		width: 100%;
		z-index: -1;
	}

	&:after {
		.transition(all 0.4s ease);
		color: @white;
		content: "\f077";
		font: normal 40px/60px FontAwesome;
	}

	&:hover {
		box-shadow: 0 0 0 4px @textColor;

		&:before {
			-webkit-transform: scale(1.3);
			-moz-transform: scale(1.3);
			-ms-transform: scale(1.3);
			transform: scale(1.3);
			opacity: 0;
		}

		&:after {
			color: @textColor;
		}
	}
}


/* Switcher
===========================================================================*/

.switcher {
	cursor: pointer;
	margin-top: 10px;
	font-size: 11px;

	&:hover {
		text-decoration: underline;
	}
}

.region-page-bottom pre {
	padding: 0 !important;
}