@import url('mixins.less');

/* Table of Contents:
   1. Tablet landscape
   2. Tablet portrait
   3. Mobile landscape
   4. Mobile portrait
*/



/*==========================================================================
1. Tablet landscape
===========================================================================*/

.switcher {
	display:none;
}

@media (max-width: 1400px) {
	body {
		min-width: 320px;
	}
	
	.switcher {
		display: inline-block;
	}
	.view-pets {
		.view-content {
			.views-row {
				figure {
					figcaption {
						font-size: 55px;
						line-height: 55px;
					}
				}
			}
		}
	}



}

@media (max-width: 1250px) {
	.block-views-services-block h2 {
		padding: 0;
		background: none;
	}
	.block-block-8 {
		padding: 0 300px 0 0;
	}
	h2 {
		font-size: 60px;
		line-height: 60px;
	}
	h3 {
		font-size: 24px;
		line-height: 24px;
	}
}



/*==========================================================================
2. Tablet portrait
===========================================================================*/

@media (max-width: 995px) {
	.page-page-404 .panel-col-first {
		font-size: 160px;
	}
	
	.stickup{
		box-shadow: none !important;
	}
	
	.pseudoStickyBlock{
		display: none !important;
		height: 0 !important;
	}
	
	#backtotop {
		display: none !important;
	}
	.view-pets {
		.view-content {
			.views-row {
				width: 50%;
			}
		}
	}
	.block-block-8 {
		padding: 0 200px 0 0;
	}
	.block-block-9 {
		padding: 0;
		background: none;
		min-height: 0;
	}
	.block-views-solution-block {
		h2.block-title {
			float: none;
			width: 100%;
		}
		.block-content {
			float: none;
			width: 100%;
		}
	}
	h2,aside.sidebar h2 {
		font-size: 30px;
		line-height: 30px;
	}
	h3 {
		font-size: 20px;
		line-height: 20px;
	}
}



/*==========================================================================
3. Mobile landscape
===========================================================================*/

@media (max-width: 767px) {
	.stickup {
		position: static !important;
	}
	#superfish-1 {
		display: none;
	}
	.slicknav_menu {
		display: block;
	}
	.header-section-1 {
		display: none;
	}
	.header-section-2 .isStuck-logo {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -103px;
		max-width: 206px;
	}

	.select-menu {
		display: block !important;
		width: 100%;
	}

	.comment-wrapper {
		overflow: visible;
	}

	.user-picture {
		margin-bottom: 12px;
	}

	.views-field-field-portfolio-image {
		pointer-events: none;
	}

	.panel-2col .panel-col-first,
	.panel-2col .panel-col-last {
		float: none;
		width: 100%;

		.inside {
			margin: 0;
		}
	}

	.page-page-404 .panel-col-first {
		font-size: 170px;
		line-height: 170px;
		text-align: center;
	}

	.filter-help {
		float: none;
		margin-bottom: 15px;
		padding-top: 0;
	}
	
	.mobile-two-column .views-row {
		float: left !important;
		width: 46% !important;
		margin-bottom: 30px !important;
		margin-right: 4% !important;
		
		&.even {
			margin-right: 0 !important;
		}
		
		&.odd {
			clear: left;
		}
	}
	
	.contact-form {
		.form-type-textfield {
			float: none;
			margin-left: 0;
			width: 100%;
		}
	}
	
	.node-teaser .field-type-file,
	.node-teaser .field-type-image,
	.node-employee .field-type-image {
		float: none;
		margin: 0 0 20px;
		max-width: 100%;
	}
	
	#comments .indented {
		margin-left: 0;
	}
	
	.view-slider {
		.flex-caption {
			.container-12 {
				left: 0;
				position: relative;
				top: 0;
				transform: translate(0, 0);
				-moz-transform: translate(0, 0);
				-ms-transform: translate(0, 0);
				-webkit-transform: translate(0, 0);
				-o-transform: translate(0, 0);
			}
			
			.inner {
				background: none;
				padding: 15px 0;
			}
		}

		.flex-control-nav {
			bottom: 5px;
		}
	}
	.view-pets {
		.view-content {
			.views-row {
				width: 100%;
			}
		}
	}
	.block-block-8 {
		padding: 0 100px 0 0;
	}
	.block-block-8 {
		padding: 0 100px 0 0;
		address {
			span {
				text-transform: none;
				display: block;
				&.title {
					font: 400 35px/35px @titleFontFamily;
				}
				&.tel {
					font: 400 35px/35px @titleFontFamily;
				}
				&.label {
					font: 400 24px/24px @titleFontFamily;
				}
			}
		}
	}
	.parallax_two_wrapper {
		.parallax-bg {
			display: none;
		}
	}
}



/*==========================================================================
4. Mobile portrait
===========================================================================*/

@media (max-width: 479px) {
	#comments {
		.comment .comment-wrapper {
			overflow: visible;
		}
	}

	.page-tracker #main-wrapper .content {
		overflow-x: scroll;

		table.sticky-header {
			display: none !important;
		}
	}

	.page-forum #forum {
		overflow-x: scroll;

		td.forum .icon {
			float: none;
			margin: 0 0 5px;
		}
	}

	.field-name-field-testi-image {
		float: none;
		margin: 0 0 20px;
		max-width: inherit;
	}
	
	.mobile-two-column .views-row {
		float: none;
		width: 100% !important;
		margin-right: 0 !important;
	}
	
	#isotope-options {
		#filters {
			li {
				display: block;
				margin: 0 0 10px;
			}
		}
	}

	.node-submitted ul.submitted-list li {
		border-bottom: 1px solid @borderColor;
		float: none;
		margin: 0;
		padding: 3px 0;
	}
	.field-name-field-pets-image {
		max-width: none;
		float: none;
		margin: 0 0 30px;
	}

}